.clr{
  height: 30px;
  width: 30px;
  border: 2px solid black;
  border-radius: 50%;
  margin-left:5px ;
}
.clr.clr1{
  background-color: #fff;
}
.clr.clr2{
  background-color: #faafa8;
}
.clr.clr3{
  background-color: #e2f6d3;
}
.clr.clr4{
  background-color: #d3bfdb;
}
.clrInput{
  display: inline; 
  width: 20px;
  height: 20px;
  margin-left: 10px; 
}
.done{
  background: transparent;
  border: none;
}

