


.editModal-container {
  background-color: rgba(0, 0, 0, 0.6);
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000000000000000000000;
}


.editModal {
  background-color: var(--primary-color);
  border-radius: 15px;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.6);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 400px;
  animation-name: editModalopen;
  animation-duration: var(--editModal-duration);
  z-index: 100000000000000000000000000000000000;

}

.editModal-header {
  background: var(--secondary-color);
  color: black;
  padding: 15px;
  display: none;
}

.editModal-header h3 {
  margin: 0;
  /* border-bottom: 1px solid #333; */
}

.editModal-content {
  padding: 20px;
}

.editModal-form > div {
  margin: 15px 0;
}

.editModal-form > div > label {
  display: block;
  margin-bottom: 5px;
  display: none;
}

.editModal-form .form-input {
  padding: 8px;
  width: 100%;
  border: none;
}

.editModal-form .form-input:focus {
  outline: 0;
  border: 2px solid var(--secondary-color);
  border-radius: 15px;
}

.close-btn {
  background: transparent;
  font-size: 15px;
  border: none;
  border-radius: 15px;
  position: absolute;
  top: 2%;
  right: 2%;
}
input[type='submit'] {
  background-color: #F0ECE5;
  border: none;
  border-radius: 15px;
}


@keyframes editModalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}